body {
    font-family: monospace;
    background-color: #333;
    color: #0f0;
    margin: 0;
    padding: 0;
}

#terminal {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border: 1px solid #0f0;
    border-radius: 5px;
}

#output {
    height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
}

#command-input {
    width: 100%;
    padding: 10px;
    background-color: #222;
    color: #0f0;
    border: none;
    border-top: 1px solid #0f0;
    outline: none;
}

